.back span{
    font-size: 32px;
}
.hotClass-wrap{
    display: flex;
    flex-wrap: wrap;
}
.hotClass-box{
    width:50%;
}
.hotClass-wrap .hotClass-box:nth-of-type(odd){
    border-right:1px solid rgba(102, 102, 102, 0.123);
}
.hotClass{
    display: flex;
    border-bottom: 1px solid rgba(102, 102, 102, 0.123);
    align-items: center;
    padding: 14px 0;
}
.hotClass img{
    width:40px;
    height:40px;
    margin:0 20px 0 90px;
}
.hotClass p{
    font-size: 28px;
}
.class-aa{
    text-align: center;
    border-bottom: 1px solid rgba(102, 102, 102, 0.123);
    padding-bottom: 20px;
    margin-top:44px;
    font-size: 30px;
}