.back span{
    font-size: 32px;
}
.hotClass-wrap{
    display: flex;
    flex-wrap: wrap;
}
.hotClass-box{
    width:50%;
}
.hotClass-wrap .hotClass-box:nth-of-type(odd){
    border-right:1px solid rgba(102, 102, 102, 0.123);
}
.hotClass{
    display: flex;
    border-bottom: 1px solid rgba(102, 102, 102, 0.123);
    align-items: center;
    padding: 14px 0;
}
.hotClass img{
    width:40px;
    height:40px;
    margin:0 20px 0 90px;
}
.hotClass p{
    font-size: 28px;
}


.class-nav{
    display: flex;
    justify-content: space-around
}

.class-box{
    padding: 20px 20px 60px 20px;
    
}
.class-aa{
    text-align: center;
    border-bottom: 1px solid rgba(102, 102, 102, 0.123);
    padding-bottom: 20px;
    margin-top:44px;
    font-size: 30px;
}
.class-b{
    display: flex;
    margin-top:15px;
    align-items: center;
}
.class-img1{
   margin-right:20px;
}

.class-img2{
   display: flex;
   align-items: center;
}
.class-img2 img{
    width:30px;
    height:30px;
    border-radius: 50%;
    margin-right:10px;
}
.class-img2 span{
    font-size: 20px;
    color: #666;
    margin-right: 20px;
}
.class-c{
    font-size: 26px;
    margin:8px 0;
}

.class-aaaa{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.rm-radio{
    margin-top:16px;
}
.rm-radio-a{
    display: flex;
    margin-top:16px;
}

.program-count p{
    font-size: 22px;
    color: rgb(102, 102, 102);
    margin-top:14px;
}
.rm-radio-b{
    width: 200px;
    height:200px;
    margin-right:22px;
}
.rm-radio-b img{
    width: 100%;
    height:100%;
    border-radius: 10px;
}
.rm-radio-c{
    font-size: 33px;
    font-weight: 700;
    margin-top:30px;
}
.rm-radio-d{
    font-size: 22px;
    color: rgb(102, 102, 102);
    margin-top:22px;
}


.banner{
    height:200px;
    width: 200px;
}
.banner img{
    width:100%;
    height:100%; 
}




.sing-banner{
    height:500px;
    background-size:100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.qqqq{
    display: flex;
    justify-content: space-between;
    padding: 23px;
    align-items: center;
    color: #fff;
}
.qqqq1{
    display: flex;
    justify-content: space-between;
    padding: 23px;
    align-items: center;
    color: #fff;
}
.qqqq1 h3{
    font-size: 25px;
    font-weight: 700;
}
.qqqq1 p{
    font-size: 20px;
}
.subscription{
    width: 150px;
    height: 50px;
    background: rgba(255, 0, 0, 0.589);
    border-radius: 25px;
    text-align: center;
    line-height: 50px;
    font-size: 23px;
}
.wu-jiemu{
    height:500px;
    text-align: center;
    line-height: 500px;
    font-size: 40px;
    color:red;
}
.go-music{
    font-size: 26px;
}