html,body{
    height: 100%;
}
*{
    box-sizing:border-box;
}
body{
    height: 100%;
    width:100%;
    background-color: #fff;
}
.warp-radio{
    padding-bottom: 120px;
}
.back{
    display: flex;
    align-items: center;
    padding-left:20px;
    margin: 20px 0;
}
.back i{
    margin-right:20px;
    font-size: 50px!important;
    color: #666666
}
.swiper-container{
    width: 686px;
    height: 270px; 
    
}
.swiper-container .swiper-pagination{
   position: absolute;
   top:230px;
    height:8.8px;
}  
.swiper-slide{
        width: 686px;
        border-radius:20px !important;
        overflow: hidden;
        height: 270px;
    }
           
.swiper-slide img{
        overflow: hidden;
        width: 100%;
        height: 100%;
    }
.radio-nav{
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
    border-bottom: 1px solid #66666642;
}
.radio-nav div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.radio-nav div img{
    margin-bottom: 15px;
}
.radio-nav div img{
    width: 100px;
    height: 100px;
}
.radio-nav div span{
    font-size: 30px;
}
.radio-recommend-wrap{
    padding: 0 20px;
    margin-top:20px;
}
.change{
    display: flex;
    justify-content: space-between;
    margin: 22px 0;
}
.change h3{
    font-size: 33px;
    font-weight: 700;
}
.change span{
    display: block;
    font-size: 20px;
    width: 117px;
    height:40px;
    border-radius: 20px;
    text-align: center;
    line-height: 35px;
    border:1px solid #666666;
}
.radio-recommend{
    display: flex;
    justify-content: space-between;
}
.recommend-box{
    width: 30%;
}
.radio-recommend-ps img{
    width: 100%;
    height:100%;
    border-radius: 10px;
}
.radio-recommend-ps{
    position: relative;
}
.radio-recommend-ps p{
    position: absolute;
    left:2px;
    bottom: 8px;
    font-size: 23px;
    color:#fff;
}
.radio-recommend-nm{
    font-size: 25px;
}
.concentrateList-box{
    background: #68423267;
}
.concentrateList-box .concentrate-ps{
    position: relative;
}
.concentrateList-box .concentrate-ps p{
    position: absolute;
    left:2px;
    bottom: 8px;
    font-size: 23px;
    color:#fff;
}
.concentrateList-box .concentrate-ps span{
    display: block;
    width:90px;
    height:30px;
    position: absolute;
    left:0px;
    top: 0;
    font-size: 20px;
    color:#fff;
    background-color: red;
    border-radius: 10px 0 0 0;
    text-align: center;
    line-height: 30px;
}
.concentrateList-box .concentrate-price p{
    font-size: 26px;
}
.concentrateList-box .concentrate-price p:nth-child(2){
   color:red;
}
.concentrateList-all{
    display: flex;
    justify-content: space-between;
    padding: 40px 0 30px 0;
}
.concentrateList-all h3{
    font-size: 33px;
    font-weight: 700;
}
.concentrateList-all h3 span{
    font-size: 20px;
    color:#684232;
    margin-left:10px;
}
.concentrateList-all p{
    font-size: 20px;
    width: 117px;
    height:40px;
    border-radius: 20px;
    text-align: center;
    line-height: 34px;
    border:1px solid #684232;
}
.concentrateList-box{
    padding: 0 20px;
}
.concentrateList{
    display: flex;
    justify-content: space-between;
}
.concentrateList .qqq{
    width: 30%;
}
.concentrateList img{
    width: 100%;
    height:100%;
    border-radius: 10px;
}
.radio-children .popular-list{
    display: flex;
    justify-content: space-between;
}
.radio-children .popular-box{
    padding: 0 20px;
}
.radio-children .popular-list .radio-ps{
    position: relative;
}
.radio-children .popular-list .radio-ps img{
    width: 100%;
    height:100%;
    border-radius: 10px;
}
.radio-children .popular-list .sing{
    width: 30%;
}
.radio-children .popular-list .sing div:nth-child(2) p{
    font-size: 26px;
}
.radio-children .popular-list .radio-ps p{
    width: 100%;
    position: absolute;
    left:2px;
    bottom:8px;
    color:rgb(255, 255, 255);
    font-size: 20px;
}
.radio-children .play{
    margin:80px 0 25px 0;
}
.radio-children .play h3{
    font-size: 30px;
    font-weight: 700;
}