*{
    box-sizing: border-box;
} 
.category-nav>p{
    font-size:40px;
    padding:0 20px;
}
.category-nav>span{
    font-size:50px;
    margin-right:20px;
}
.category-title{
    /* margin-top:120px;
    margin-bottom:20px; */
    position: fixed;
    left:0;
    top:20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-right:40px;
    padding:0 20px;
    margin-top:60px;
    background:white;
    z-index:10;
    padding-bottom:30px;
    padding-top:30px;
}
.category-mv-box{
    padding:0 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-bottom:120px;
}
.category-mv-content{
    position: relative;
    width:49%;
    margin-bottom:30px;
}
.category-mv-content:nth-child(1),.category-mv-content:nth-child(2){
    margin-top:180px;
}
/* .category-mv-content:nth-last-child(1){
    margin-bottom:120px;
} */
.category-mv-content img{
    width:100%;
    border-radius:15px 15px;
}
.category-mv-content p{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.category-mv-content>span{
    color: #8F8F8F;
}
.category-num{
    position: absolute;
    top:10px;
    right:15px;
}
.category-num span{
    color:white;
}
.category-num span:nth-child(1){
    margin-right:10px;
    font-size:30px;
}
.flex{
    display: flex;
    justify-content: flex-start;
    
}
.flex li{
    margin-right:50px;
    font-size:30px;
}
.category-xuanze-box p{
    height:30px;
    line-height:30px;
}
.screen-mv-box{
    position: absolute;
    top:110px;
    width:100%;
    background: white;
    padding-top:30px;
    z-index: 50;
    transition:0.3s;
}

.screen-mv .aa{
    padding:0 20px;
}
.screen-mv::before{
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height:1px;
    z-index:50;
    background-color: #8F8F8F;
    -webkit-transform: scaleY(.2);
    transform:scaleY(.2);
}
.screen-mv::after{
    content: " ";
    position: absolute;
    left: 0;
    bottom: 100px;
    width: 100%;
    height:1px;
    z-index:50;
    background-color: #8F8F8F;
    -webkit-transform: scaleY(.2);
    transform:scaleY(.2);
}
.category-btn{
    text-align: center;
    color:red;
    font-size:40px;
}
.category-active{
    color:red;
}
.cccc{
    position: absolute;
    top:-500px;
    transition:0.3s;
}

/* .category-nav:nth-child(1){
    position: relative;
    z-index:9999;
} */
.category-container .mv-fl{
    position: fixed;
    top:0;
    width:100%;
    z-index:99;
    left:20px;
    font-size:36px;
    background:white;
}
.mv-fl span{
    font-size: 60px;
    margin-right:15px;
}
.category-xuanze-box p:nth-child(1){
   margin:30px 0;
}
.category-btn{
    margin:35px 0;
}
.category-isLoading{
    width:100%;
    text-align: center;
}
.time-mv-class{
    position: absolute;
    bottom:85px;
    left:20px;
    color:white;
}