body,
p {
    margin: 0;
    padding: 0;
}
.lint .collection{
    color: red;
    border-bottom: 2px solid red;
    
}
.lint{
    width:100%;
    height:104px;
    
    margin-left:44px; 
}
.lint a{
    height: 104px;
    line-height: 104px;
    margin: 0 40px;
    padding-bottom:29px; 
    color: black;
    font-size: 27px;
}