
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    left: 0;
    background: #ffffff
}
.banner{
    width: 100%;
    height: 160px;
    position: relative;
 
}
.banner div:nth-of-type(1){
    width:100%;
    height:196px;
    position: relative;
    
}
.banner div>img:nth-of-type(1){
    width:107px;
    height:111px;
    margin-left:50px;
    margin-top:45px;
    position: absolute;
}
.banner div>span{
    font-size:26px;
   width:300px;
    position: absolute;
    top:63px;
    left:176px;
    display: inline-block;
}
.banner div>img:nth-of-type(2){
    width:89px;
    height:40px;
    position: absolute;
    left:176px;
    top:111px;
}
.banner div>img:nth-of-type(3){
    width:129px;
    height:53px;
    position: absolute;
    top:61px;
    left:588px;
}
.banner div:nth-of-type(2){
    width: 700px;
    height: 120px;
    background: red;
    opacity: 0.5;
    margin: 20px 0 0 23px;
    line-height: 120px;
    text-align: center;
    font-size: 38px;
    border-radius: 20px;
}

.nav2{
    width: 100%;
    height:135px;
    display: flex;
    padding-top:27px;
}
.nav2 p{
    width: 25%;
    height: 82px;
    display: flex;
    flex-direction: column;
    border-right:1px solid #dedede;
    text-align: center;
}
.nav2 p:nth-child(4){
    border: none;
}
.nav2 p:nth-child(4)>i{
    font-size:33px !important;
    color:black;
}
.nav2 p span:nth-child(1){
    font-size:26px;
    color: #313131;
}
.nav2 p:nth-of-type(1)>span{
    font-size:23px;
    color: #909090;
}
.nav2 p:nth-of-type(1)>span{
    font-size:23px;
    color: #909090;
}
.nav2 p:nth-of-type(1)>span{
    font-size:23px;
    color: #909090;
}
.img{
    padding:0 30px;
}
.img img{
    width: 100%;
    height: 120px;
}
.assage{
    width: 100%;
    height:200px;
    display: flex;
    flex-direction: row;
    padding-top:40px;
}
.assage p{
    display: flex;
    flex-direction: column;
    width: 25%;
    text-align: center;

}
.assage p:nth-child(1) i{
    font-size: 55px;
    color: red;
}
.assage p:nth-child(1) span{
    font-size: 25px;
}
.assage p:nth-child(2) img{
    width: 55px;
    height:60px;
    margin: 0 auto;
}
.assage p:nth-child(2) span:nth-child(2){
    font-size: 25px;
}
.assage p:nth-child(2) span:nth-child(3){
    font-size: 20px;
    color:#b1b1b1;
}
.assage p:nth-child(3) i{
    margin-top:-10px;
    font-size: 65px;
    color: red;
}
.assage p:nth-child(3) span:nth-child(2){
    font-size: 25px;
}
.assage p:nth-child(3) span:nth-child(3){
    font-size: 20px;
    color:#b1b1b1;
}
.assage p:nth-child(4) i{
    font-size: 60px;
    color: red;
}
.assage p:nth-child(4) span{
    font-size: 25px;
}
#account .main1{
    width: 100%;
    height:230px;
    background:#f8f8f8;
    padding-top:25px;
}
#account .main1 p{
    width: 100%;
    height:90px;
    background:#ffffff;
    line-height: 90px;

}
#account .main1 p>i{
    font-size:20px !important;
    color:#000000;
    margin-left: 25px;
}
#account .main1 p span{
    width: 670px;
    float: right;
    font-size:25px;
}
#account .main1 p span i{
    font-size:20px !important; 
    color:#000000;
    float: right;
    margin-right: 20px;
}
.main2{
    width: 100%;
    height:360px;
    background:#f8f8f8;
}
.main2 p{
    width: 100%;
    height:90px;
    background:#ffffff;
    line-height: 90px;
    float: left;

}
.main2 p>i{
    font-size:20px !important;
    color:#000000;
    margin-left: 25px;
}
.main2 p span{
    width: 670px;
    float: right;
    font-size:25px;
}
.main2 p span i{
    font-size:20px !important; 
    color:#000000;
    float: right;
    margin-right: 20px;
}
.main3{
    width: 100%;
    height:200px;
    background:#f8f8f8;
    padding-top:25px;
}
.main3 p{
    width: 100%;
    height:90px;
    background:#ffffff;
    line-height: 90px;
    float: left;

}
.main3 p>i{
    font-size:20px !important;
    color:#000000;
    margin-left: 25px;
}
.main3 p span{
    width: 670px;
    float: right;
    font-size:25px;
}
.main3 p span i{
    font-size:20px !important; 
    color:#000000;
    float: right;
    margin-right: 20px;
}
.main4{
    width: 100%;
    height:410px;
    background:#f8f8f8;
    padding-top:30px;
}
.main4 p{
    width: 100%;
    height:90px;
    background:#ffffff;
    line-height: 90px;
    float: left;

}
.main4 p>i{
    font-size:20px !important;
    color:#000000;
    margin-left: 25px;
}
.main4 p span{
    width: 670px;
    float: right;
    font-size:25px;
}
.main4 p span i{
    font-size:20px !important; 
    color:#000000;
    float: right;
    margin-right: 20px;
}
.exit{
    width: 100%;
    height: 100px;
    margin-bottom:95px;
}
.exit input{
    width: 100%;
    height: 90px;
    line-height: 90px;
    text-align: center;
    color: red;
    background: #ffffff;
    font-size:30px;
    border:none;
}