
html,body{
    height: 100%;
    overflow-x: hidden;
    width:100%;
}
*{
    box-sizing:border-box;
}
body{
    height: 100%;
    width:100%;
    background-color: #fff;
    overflow-x: hidden;

}
#tuijian{
    overflow-x: hidden;
    width:100%;
}
#tuijian .head{
    width:100%;
    height:334px;
    overflow-x: hidden;
    background: url('../images/7.jpg') repeat;
    position: relative;

}
#tuijian .head p{
    /*display: flex;*/
    /*justify-content: space-around;*/
    overflow: hidden;
    padding-top:16px;

}
.head i:nth-of-type(1){
    font-size:44px !important;
    color:#ffffff;

    margin-left:40px;
}
.head i:nth-of-type(2){
    font-size:48px !important;
    color:#fdfbfb;
    margin-left:480px;
}
.head i:nth-of-type(3){
    font-size:42px !important;
    color:#ffffff;
    margin-left:40px;
}
.head>div{
    width:100%;
    position: absolute;
    top:192px;
    left:17px;
}
.head>div>p{
    font-size:22px;
    color:#f5dfdc;
    float: left;
    margin-right:46px;
}
.head>div>i{
    font-size:32px;
    color:#edb9b2;
    float: left;
    margin-top:6px;
}
.head>div>img{
    width:132px;
    height:52px;
    float: left;
    margin-right:-54px;
}
.tuijianc{
    background: #ffffff;
    border:1px solid #ffffff;
    border-radius:30px;
    position: absolute;
    width:100%;
    overflow: hidden;
    top:280px;
    padding-bottom:110px;
}
.tuijianc>i{
    font-size:40px !important;
    color:#333434;
    font-weight:600;
    display: block;
    margin-top:30px;
    margin-left:30px;
    margin-right:20px;
    float: left;
}
.tuijianc>p:nth-of-type(1){
    margin-top:30px;
    font-size:32px;
    float: left;
}
.tuijianc>p:nth-of-type(2){
    margin-top:30px;
    margin-left:600px;
}
.tuijianc>p:nth-of-type(2)>i{
    font-size:24px !important;
    margin-right:8px;
    color:#333333;
}
.tuijianc>p:nth-of-type(2)>span{
    font-size:26px;
    color:#333333;
}
.tuijianc>p:nth-of-type(3){
    width:100%;
}
.tuijianc div .content{
    width:100%;
    height:80px;
    margin-left:32px;
    margin-top:40px;
    position: relative;
}
.tuijianc div .content img{
    border-radius:10px;
    width:80px;
    height:80px;
    float: left;
}
.tuijianc .content span:nth-of-type(1){
    font-size:32px;
    color:#ea4d44;
    margin-left:110px;
    display: block;
    margin-top:10px;
    width:500px;
}
.tuijianc .content span:nth-of-type(2){
    font-size:26px;
    color:#ccc;
    display: block;
    margin-left:110px;
    width:300px;

}

.tuijianc .content i:nth-of-type(1){
    font-size:38px !important;
    color:#bebebe;
    position: absolute;
    top:20px;
    left:550px;
 
}
.tuijianc .content i:nth-of-type(2){
    font-size:30px !important;
    color:#bebebe;
    position: absolute;
    left:620px;
    top:30px;
}


