
html,body{
    height: 100%;
}
*{
    box-sizing:border-box;
}
body{
    height: 100%;
    width:100%;
    background-color: #fff;
}
#discover #header{
    width:100%;
    height:98px;
    padding-top:18px;
    overflow: hidden;
    position: relative;
    padding-left:26px;
    padding-right:26px;

}
#discover #header>i:nth-of-type(1){
    font-size:46px;
    float: left;
    color:black;
    margin-right:44px;
}
#discover #header .search>input{
    width:526px;
    height:70px;
    border-radius:40px;
    margin-top:-8px;
    background: #f7f7f7;
    float: left;
    font-size:24px;
    padding-left:130px;
    margin-right:26px;
    border:none;
}
#discover #header .search>i{
   position: absolute;
   top:30px;
   left:200px;
    font-size:28px;
    color:#949595;
    margin-right:14px;
}

#discover #header>i:nth-of-type(2){
    float: left;
    font-size:42px;
    color:#000001;
    margin-top:10px;
    font-weight:700;

}

/*轮播图*/

#discover #first{
    width:684px;
    height:280px;
    border-radius:20px;  
}
#discover  #first  #box{
    width:684px;
    height:280px;
}
#discover .swiper-wrapper>img{
    width:100%;
    height:100%;
}

/*每日推荐*/
#discover #everyday{
    width:100%;
    height:230px;
    /*background-color: pink;*/
    display: flex;
    border-bottom:1px solid #e6e6e6;
    padding:0 20px 0 20px;

}
#discover #everyday li{
    width:20%;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
}
#discover #everyday li img{
    width:92px;
    height:92px;

}
#discover #everyday  span{
    font-size:24px;
    margin-top:24px;
    color:#666666;
    letter-spacing: 1px;
}

/*推荐歌单*/
#discover .sellPoints{
   width:100%;
    height:auto;
}
#discover .sellPoints>p:nth-of-type(1){
    font-size:34px;
    font-weight:600;
    color:#333334;
    margin-top:48px;
    margin-left:33px;
    float: left;
    margin-bottom:38px;
}
#discover .sellPoints>p:nth-of-type(2){
    width:152px;
    height:52px;
    font-size:24px;
    color:#333334;
    float: left;
    text-align:center;
    line-height:44px;
    border-radius:40px;
    border:2px solid #e6e6e6;
    margin-top:42px;
    margin-left:392px;
}
#discover .sellPoints div{
    display: flex;
    width:100%;
    flex-wrap:wrap;
}
#discover .sellPoints .content{
    display: flex;
    width:30%;
    flex-direction: column;
}
#discover .sellPoints .content{
    margin-left:20px;

}

#discover .sellPoints .content img{
    width:216px;
    height:216px;
    margin-bottom:16px;
    border-radius:14px;
}
#discover .sellPoints .content span{
    width:216px;
    height:68px;
    margin-bottom: 10px;
    overflow: hidden;
    font-size:23px;
    color: #666666;
    letter-spacing: 1px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/*新碟新歌*/
#discover .newSongs{
    width:100%;
    height:auto;
    padding-bottom:98px;
}
#discover .newSongs>p:nth-of-type(1){
    font-size:34px;
    font-weight:600;
    color:#333334;
    margin-top:48px;
    margin-left:33px;
    float: left;
    margin-bottom:38px;
    margin-right:200px;
}
#discover .newSongs>p:nth-of-type(2){
    width:152px;
    height:52px;
    font-size:24px;
    color:#333334;
    float: left;
    text-align:center;
    line-height:44px;
    border-radius:40px;
    border:2px solid #e6e6e6;
    margin-top:42px;
    margin-right:20px;
}
#discover .newSongs>p:nth-of-type(3){
    width:152px;
    height:52px;
    font-size:24px;
    color:#333334;
    float: left;
    text-align:center;
    line-height:44px;
    border-radius:40px;
    border:2px solid #e6e6e6;
    margin-top:42px;

}
#discover .newSongs div{
    display: flex;
    width:100%;
    flex-wrap:wrap;

}
#discover .newSongs .content{
    display: flex;
    width:30%;
    flex-direction: column;
    margin-bottom:20px;
    margin-left:20px;
}

#discover .newSongs .content img{
    width:216px;
    height:216px;
    margin-bottom:16px;
    border-radius:14px;
}
#discover .newSongs .content span{
    width:216px;
    height:58px;
    font-size:23px;
    color: #666666;
    overflow: hidden;
    letter-spacing: 1px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}



