#login{
  overflow: hidden;
}
#login .zi{
  width: 350px;
  height: 100px;
  margin-top:100px;
  margin-left:200px;
}
#login .zi>img{
    display: block;
    width:100%;
    height:100%;
}
  
#login .form{
  margin-top: 20px;
  width:100%;
  padding:100px;
}

#login .form>.word{
  position: fixed;
  bottom:178px;
  font-size:12px;
  color:black;
}
#login .form .tijiao{
  width:170px;
  display: block;
  margin-left:200px;
  height:70px;
  text-align:center;
  line-height:65px;
  font-size:30px;
  border-radius:10px;
  background: greenyellow;
  margin-top:100px;
}
#login .form>input:nth-of-type(1){
  display: inline-block;
  width:550px;
  height:80px;
  border-radius:30px;
  border:none;
  background: #e7eaef;
  margin-bottom:50px;
  padding-left:50px;
  font-size:25px; 
}

#login .form>input:nth-of-type(2){
  display: inline-block;
  width:550px;
  border-radius:30px;
  border:none;
  height:80px;
  background: #e7eaef;
  padding-left:50px;
  font-size:25px;
}
