html, body {
    height: 100%;
}

* {
    box-sizing: border-box;
}

body, #root, .App, .view {
    height: 100%;
    width: 100%;
}

.player {
    /*display: flex;*/
    height: 100%;
    background-color: #494748 !important;
    padding: 25px 0px;
    flex-direction: column;
    align-items: center;
}

.player-songDetail-img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin-top: 350px;
    animation: rotate 60s linear infinite;
    margin-left:180px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}

.player-songDetail-img img {
    width: 100%;
    border-radius: 50%;
    border: 10px solid #837f80;
}

.player-songDetail-name {
    margin-top: 10px;
    position: fixed;
    top: 70px;
    left: 100px;
    z-index: 999;
}

.player-songDetail-name span {
    font-size: 26px;
    color: #cccccc;
}

.play-songDetail-songname {
    position: fixed;
    top: 30px;
    left: 100px;
    z-index: 999;
}

.play-songDetail-songname span {
    display: block;
    font-size: 30px;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 500px;
}

.player-control {
    width: 100%;
    position: fixed;
    bottom: 0px;
    padding: 0 30px 50px 50px;
    z-index: 999;
    background: #494748;
}

.voice-title {
    margin-right: 15px;
    float: left;
    font-size: 13px;
}

.voice-container {

    width: 100%;
}

.fake-control-timeline {
    width: 100%;
}

.timeline {
    height: 4px;
    width: 100%;
    background-color: #fff;
}

.play-time {
    font-size: 20px;
    color: #fffdef;
    display: flex;
}

.playhead {
    background-color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    position: relative;
    top: -6px;
}

.voice-control {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    color: #fffdef;
    font-size: 20px;
}
.played-time {
    margin-top: -12px;
    margin-right: 10px;
}

.audio-time {
    margin-top: -12px;
    margin-left: 10px;
}

.fake-control-timeline {
    margin-top: 20px;
}

.iconarrow-right
{
    position: fixed;
    top: 50px;
    left: 30px;
    font-size: 50px!important;
    color: #fff;
    z-index: 999;
}
.gengmafan{
    height: 200px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #494748;
    z-index: 99;
}
.mafan{
    overflow: hidden;
    background-color:#494748 ;
}
.player-songDetail-lyric {
    min-width: 500px;
    text-align: center;
    color: #ddd;
    font-size: 24px;
}
.player-songDetail-lyric p {
    line-height: 46px;
    font-size: 26px;
}
.iconshangyishou,.iconzanting,.iconnext-chapter,.iconbofang1{
    font-size: 50px!important;
    color: #fff
}
.zanwugeci{
    padding: 50px 50px;
    font-size: 40px;
    position: fixed;
    top:45%;
    left: 30%;
}
