
#paihang .header{
    position: absolute;
    top:0;
    left: 0;
    font-size: 40px;
    background:#ffffff;
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    height:100px;
    z-index: 1;
} 
.guanfangrank{
    margin-top: 85px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 40px;
    padding: 0 30px;
}
.title{
    font-size: 40px;
    margin-bottom: 30px;
    padding-top:20px;
}
.guanfangrank .content{
    margin-bottom:20px;
    display: flex;
}
.guanfangrank .content p{
    padding-left: 30px;
    width:410px;
    padding-top:38px;
}
.guanfangrank .content p span{
    display:block;
    white-space: nowrap;
    overflow: hidden;
    margin-right:30px;
    margin: 15px 0;
    font-size: 30px;
}
.tuijianrank{
    padding: 0 30px;
    margin-bottom: 40px;
}
.tuijianrank .content{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}
.tuijianrank .content div{
    width: 31%;
    position: relative;
    margin-bottom: 20px;
}
#paihang .tuijianrank .content p:nth-child(2){
    font-size: 25px;
    letter-spacing: 3px;
    color: #000000;
    padding-top:5px;
}
.tuijianrank .content p:nth-child(3){
    position: absolute;
    top:165px;
    left: 15px;
    font-size: 25px;
    color: #ffffff;
    letter-spacing: 3px;
}
.quanqiurank{
    padding: 0 30px;
    margin-bottom: 40px;
}
.quanqiurank .content{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}
.quanqiurank .content div{
    width: 31%;
    position: relative;
    margin-bottom: 20px;
}
.quanqiurank p{
    font-size: 25px;
    letter-spacing: 3px;
}
.morerank{
    margin-bottom:100px;
    padding:0 30px;
}
.morerank .content{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}
.morerank .content div{
    width: 31%;
    position: relative;
    margin-bottom: 20px;
}
.morerank p{
    font-size: 25px;
    letter-spacing: 3px;
}